<% @products.each do |p| %>
  <%= p.name %>
  <div id="description-<%=p.id%>"><%= truncate p.description %></div>
  <div id="description-<%=p.id%>"><%= truncate p.description %></div>
  <button class="js-more" data-id="<%=p.id%>">More Info</button>
  <br />
<% end %>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    let id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      // Replace text of body-id div
      $("#description-" + id).text(data);
    });
    $.get("/products" + id + "/inventory", function(data){
      if data = "true" {
        $("#body-" + id).text("Available");
      else {
        $("#body-" + id).text("Sold Out");
        }
    });
  });
});
</script>
