<% @products.each do |p| %>
  <%= p.name %>
  <div id="body-<%=p.id%>">
    <%= truncate p.description %>
  </div>
  <button class="js-more" data-id="<%=p.id%>">More Info</button>
  <button class="js-inventory" data-id="<%=p.id%>">Available?</button>
  <br />
<% end %>


<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".js-more").on('click', function() {
      let id = $(this).data("id");
      $.get("/products" + id + "/description", function(data){
        $("#body-" + id).text(data);
      });
    });
  });
</script>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $(".js-inventory").on('click', function(){
      let id = $(this).data("id");
      $.get("/products" + id + "/inventory", function(data){
        $("body-" + id).text(data);
      });
    });
  });
  </script>
